.projectDetailAside {
  background-color: rgb(244, 245, 247);
  display: flex;
}

.projectDetailMain {
  display: flex;
  overflow: hidden;
}

.projectDetailContainer {
  display: grid;
  grid-template-columns: 16rem 1fr;
  width: 100%;
}
