.kanbanColumnContainer {
  min-width: 27rem;
  border-right: 6px;
  background-color: rgb(244, 245, 247);
  display: flex;
  flex-direction: column;
  padding: 0.7rem 0.7rem 1rem;
  margin-right: 1.5rem;
}

.tasksConatainer {
  overflow: hidden;
  flex: 1;
  ::-webkit-scrollbar {
    display: none;
  }
}
