.header {
  height: 6rem;
  padding: 0 3.2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;

  .headerItemContainer {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    svg,
    span {
      cursor: pointer;
    }

    span {
      margin-bottom: 0px;
      margin-left: 4rem;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
